<?xml version='1.0' encoding='utf-8'?>
<widget id="uvimex.com" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Uvimex</name>
    <description>
        Aplicacion para consumo de cursos de plataforma Uvimex
    </description>
    <author email="m.rivas@denlin.com.mx" href="https://uvimex.com.mx">
        UVIMEX
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="icons/logo_36.png" density="ldpi" />
        <icon src="icons/logo_48.png" density="mdpi" />
        <icon src="icons/logo_72.png" density="hdpi" />
        <icon src="icons/logo_96.png" density="xhdpi" />
        <icon src="icons/logo_144.png" density="xxhdpi" />
        <icon src="icons/logo_192.png" density="xxxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="icons/logo_180.png" width="180" height="180" />
        <icon src="icons/logo_60.png" width="60" height="60" />
        <icon src="icons/logo_120.png" width="120" height="120" />
        <icon src="icons/logo_77.png" width="76" height="76" />
        <icon src="icons/logo_152.png" width="152" height="152" />
        <icon src="icons/logo_40.png" width="40" height="40" />
        <icon src="icons/logo_80.png" width="80" height="80" />
        <icon src="icons/logo_58.png" width="57" height="57" />
        <icon src="icons/logo_120.png" width="114" height="114" />
        <icon src="icons/logo_72.png" width="72" height="72" />
        <icon src="icons/logo_144.png" width="144" height="144" />
        <icon src="icons/logo_167.png" width="167" height="167" />
        <icon src="icons/logo_36.png" width="29" height="29" />
        <icon src="icons/logo_58.png" width="58" height="58" />
        <icon src="icons/logo_87.png" width="87" height="87" />
        <icon src="icons/logo_58.png" width="50" height="50" />
        <icon src="icons/logo_167.png" width="167" height="167" />
    </platform>
</widget>
