video#videoCurso {
	width:  100%;
	height:  100%;
}
@media print {
	footer, #colorNavVertical, button, #seccionVideo, 	textarea {
			display: none;
		}
		body {
		background-image: none;
	}
	.respuestas{
		border:none;
	}
	 #tituloCurso {
			font-size: 2em;}
			::-webkit-input-placeholder { /* WebKit browsers */
				color: transparent;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			 color: transparent;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
			 color: transparent;
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
			 color: transparent;
		}

		textarea::-webkit-input-placeholder { /* WebKit browsers */
				color: transparent;
		}
		textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			 color: transparent;
		}
		textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
			 color: transparent;
		}
		textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
			 color: transparent;
		}

}
button#imprimirActividad{
	background-color: #53bfe2;
		border: none;
		    float: none;
		padding: 5px 10px;
		border-radius: 4px;
		color: #2884a2;
		font-weight: bold;
		cursor: pointer;
		outline: none;
			margin: 10px 0;
		box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset, 1px 1px 1px #CCC;
}
#seccionVideo{
	display: inline-block;
	width: 54%;
}
#seccionVideo{
	display: inline-block;
	width: 54%;
}

#seccionPreguntas {
    margin: auto;
    padding: 0;
    /* margin: 0; */
    width: 80%;
    left: 0;
    right: 0;
}

#seccionPreguntas li{
    margin: 10px;
}

#seccionPreguntas ul{
	list-style: none;
	list-style-type: none;
}

#videoCurso{
	background: black;
}

@media (max-width: 1024px){
	#seccionVideo{
		padding: 1% 8%;
		width: 100%;
	}

	#seccionPreguntas {
	    margin: auto;
	    padding: 0;
	    width: 80%;
	    left: 0;
	    right: 0;
	}

	#controlVideo, #videoCurso{
		width: 90% !important;
	}
}

.seccionPreguntasContestadas{
	width: 100%;
	display: inline-block;
}

.respuestasSeleccionadas{
	font-size: 1.15rem;
}

.respOkTitle, .respNokTitle{
	font-size: 1.3rem;
	font-weight: bolder;
}

.respOk{
	color: green;
}

.respNok{
	color: red;
}
